<div class="jumbotron" style="margin-top: 20px; margin-left: 40px; margin-right: 40px;">
  <div class="container" >
    <h1 class="display-4">Technical Test Senior .Net</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/employees']" role="button">Go to Employees</a>
    </p>
  </div>
</div>